# npm
*/node_modules
*/package-lock.json
*/npm-shrinkwrap.json
*/.env
*/*.log
*/*.gz

frontend/src/firebase.js
backend/firebaseadmin.js
backend/proiectgcc-firebase-adminsdk-fbsvc-8722d4d52a.json


# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore